fastapi
uvicorn[standard]
python-dotenv

chromadb==0.5.4
sentence-transformers
PyPDF2

langchain==0.1.16
langchain-core==0.1.46
langchain-community==0.0.33
langgraph==0.0.26

google-generativeai==0.3.2
requests
numpy
pydantic
